* {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	letter-spacing: 1px;
	box-sizing: border-box;
	font-family: 'Quicksand';
}

h1 {
	font-size: 2.5rem;
}

h2, h4 {
	font-family: 'Letter Gothic Std';
	text-transform: uppercase;
}

p,span {
	font-size: 0.9375rem;
}

.h1 {
	font-family: 'Letter Gothic Std';
}

.color {
	color: #FA8072;
}

.bg-salmon {
	background: #FA8072
}

.bg-white {
	background: #fff;
}

.bg-pink {
	background: pink;
}

.card-title {
	font-family: 'Letter Gothic Std';
	letter-spacing: 0;
}

/* ==========
 Header
 =========== */

.jumbotron {
	background: #000;
	color: #fff;
	border-radius: 0px;
	position: relative;
	display: block;
	z-index: 2;
}

.jumbotron .wrapper {
	padding: 220px 0;
}

header span {
	font-size: 40px;
}

.btn-view {
	color: #fff;
	height: auto;
	margin: 0px;
	cursor: pointer;
	display: inline-block;
	border: 2px solid #FA8072;
}

.btn-view:hover {
	color: #fff;
	background: #FA8072;
	text-decoration: none;
}

.stars, .twinkling, .clouds {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: block;
}

.stars {
    background: #000 url('../img/stars.png') repeat top center;
    z-index: -1;
}

.twinkling {
    background: transparent url('../img/twinkling.png');
    z-index: -1;

    -moz-animation: move-twin-back 200s linear infinite;
    -ms-animation: move-twin-back 200s linear infinite;
    -o-animation: move-twin-back 200s linear infinite;
    -webkit-animation: move-twin-back 200s linear infinite;
        animation: move-twin-back 200s linear infinite;
}


@keyframes move-twin-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}
@-webkit-keyframes move-twin-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}
@-moz-keyframes move-twin-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}
@-ms-keyframes move-twin-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}
@keyframes move-clouds-back {
    from {background-position: 0 0;}
    to {background-position: 10000px 0px;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position: 0 0;}
    to {background-position: 10000px 0px;}
}
@-moz-keyframes move-clouds-back {
    from {background-position: 0 0;}
    to {background-position: 10000px 0px;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0 0;}
    to {background-position: 10000px 0px;}
}

/* ===========
 Progress Bar
 =========== */

.progress-container {
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 5px;
}

.progress-bar {
	height: 5px;
	background: #FA8072;
	width: 0%;
}

/* ==========
 About
 =========== */

#about .wrapper {
	position: relative;
}

#about img { 
	border-radius: 50%;
	width: 250px;
	margin: auto;
	display: block;
}

#about .order-md-1 span {
	font-family: Mistis;
	float: left;
	font-size: 50px;
	width: 30px;
	padding-left: 20px;
	margin-top: -40px;
	line-height: 1.2;
	overflow: hidden;
}

/* ==========
 Skills
 =========== */

#skills {
	background: #000;
	color: #fff;
}

#skills .skill-bar {
	border: 1px solid #FA8072;
}

.skill-bar * { background: #FA8072 }

.html { width: 90%; } 
.css { width: 80%; } 
.js { width: 50%; } 
.jquery { width: 45%; } 
.php { width: 40%; } 
.mysql { width: 40%; } 
.bootstrap { width: 60%; } 
.wp { width: 30%; } 
.photoshop { width: 40%; } 
.illustrator { width: 80%; }

/* ==========
 Projects
 =========== */

#projects p,
#projects a {
	color: #000;
	font-size: 14px;
	font-size: 14px;
}

/* ==========
 Footer
 =========== */

footer,
footer a {
	background: #000;
	color: #ccc;
}
footer a:hover {
	color: #fff;
}

footer .fa {
	font-size: 20px;
}

footer .socials .fa {
	font-size: 25px;
	cursor: pointer;
	color: #ccc;
	border-radius: 50%;
	text-align: center;
}
footer .socials .fa:hover {
	color: #fff;
}

footer .link:hover {
	text-decoration: underline;
	color: #FA8072
}